body {
    background: #fae8d2;
    ;
}

.nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #ffe7ca, #f5d7b2);
    box-shadow: 4px 4px 8px #ddc1a0,
        -4px -4px 8px #f7e5cc;
}

.neubar .dropdown-menu a:hover {
    color: #454545
}

.neubar .nav-item {
    margin: auto 4px;
}

.neubar a {
    padding-left: 12px;
    padding-right: 12px;
}

.neubar .dropdown-menu {
    background: #545454
}

a.navbar-brand {
    color: #454545
}

.alignitems {
    text-align: center;
    display: flex;
    justify-content: center;
}

.formDesgin {
    display: flex;
    justify-content: center;
}

form {
    width: 78%;
    padding: 20px;
}

label {
    display: flex;
}

.inputForm,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.SubmitForm {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.SubmitForm:hover {
    background-color: #45a049;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    margin: 1em;
}

.card-img{
    width: 100%;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}